@using TravelAgencyCoreProject.Areas.Admin.Models
@model IEnumerable<BookingExchangeViewModel2.Exchange_Rates>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking API Exchange Info</h1>

<br />

<table class="table table-striped">
    <tr>
        <th>Currency </th>
        <th>Currency Rate</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.currency</th>
            <td>@item.exchange_rate_buy</td>
        </tr>
    }
</table>

