@model List<Destination>

<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Starter/assets/images/banner1.jpg", "/Traversal-Starter/assets/images/banner2.jpg","/Traversal-Starter/assets/images/banner3.jpg", "/Traversal-Starter/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Best Travel Experience</h3>
                        <h6 class="mb-3">Discover your next adventure</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form id="destinationForm" action="Index" method="post" class="booking-form">
                                <input type="hidden" id="selectedValue" name="selectedValue" value="">
                                    <div class="row book-form">
                                        <div class="form-input col-md-4 mt-md-0 mt-3">
                                        <select name="selectpicker" id="selectpicker" class="selectpicker" onchange="updateSelectedValue()">

                                                <option selected = "true" disabled="disabled">Destination</option>
                                                @foreach(var item in Model)
                                                {
                                                    
                                                    <option value="@item.DestinationID">@item.City</option>
                                                }        
                                            </select>

                                        </div>
                                       
                                        <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                            <button class="btn btn-style btn-secondary">
                                                <span class="fa fa-search mr-3"
                                                      aria-hidden="true"></span> Search
                                            </button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function updateSelectedValue() {
        var selectedValue = document.getElementById('selectpicker').value;
        document.getElementById('selectedValue').value = selectedValue;
    }
</script>

@*<script>
    function updateFormAction() {
        var selectedValue = document.getElementById('selectpicker').value;
        //document.getElementById('destinationForm').action = '/Destination/DestinationDetails/' + selectedValue;
        document.getElementById('destinationForm').value = selectedValue
    }
</script>*@

@*action="/Destination/DestinationDetails/"*@