@using EntityLayer.Concrete
@model List<AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}

<h1>Guests List</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name Surname</th>
        <th>Username</th>
        <th>Mail</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Comments</th>
        <th>Reservations</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@{counter = counter+1;}</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/Admin/User/EditUser/@item.Id" class="btn btn-outline-success">Edit</a></td>
            <td><a href="/Admin/User/CommentUser/@item.Id" class="btn btn-outline-info">Comments</a></td>
            <td><a href="/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-secondary">Reservations</a></td>

        </tr>
    }
</table>

<a href ="/Login/SignUp/" class="btn btn-outline-primary">Add New User</a>
