<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Language Links with Flag Icons -->
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center">
                    <a href="/Member/Destination/Index/?culture=en" class="nav-link text-body font-weight-bold px-0">
                        <i class="fa fa-flag-usa me-sm-1"></i> <!-- USA flag icon -->
                        <span class="d-sm-inline d-none">Eng  |</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="/Member/Destination/Index/?culture=fr" class="nav-link text-body font-weight-bold px-0">
                        <i class="fa fa-flag-france me-sm-1"></i> <!-- France flag icon -->
                        <span class="d-sm-inline d-none">Fr  |</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="/Member/Destination/Index/?culture=de" class="nav-link text-body font-weight-bold px-0">
                        <i class="fa fa-flag-germany me-sm-1"></i> <!-- Germany flag icon -->
                        <span class="d-sm-inline d-none">De  |</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="/Member/Destination/Index/?culture=tr" class="nav-link text-body font-weight-bold px-0">
                        <i class="fa fa-flag-turkey me-sm-1"></i> <!-- Turkey flag icon -->
                        <span class="d-sm-inline d-none">Tr  |</span>
                    </a>
                </li>
            </ul>

            <!-- Right-aligned navigation elements -->
            <ul class="navbar-nav">
                <!-- Log Out Link -->
                <!-- Toggle Sidebar Icon -->
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </a>
                </li>
                <!-- Cog Icon -->
                <li class="nav-item px-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0">
                        <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>