@model ForgetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />

    <h2>Password Update Page</h2>
    <form method="post">
        <label>Mail Adress</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <button class="btn btn-primary">Send Password Reset Link</button>
    </form>

</div>
