@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> _signInManager

<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Comments</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Destinations</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div data-i18n="Analytics">Members</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Reservation/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
            <div data-i18n="Analytics">Reservations</div>
        </a>
    </li>

@*    <li class="menu-item">
        <a href="/Admin/VisitorApi/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div data-i18n="Analytics">Visitors</div>
        </a>
    </li>*@

    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-alt"></i>
            <div data-i18n="Analytics">Messages</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Guide/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-help-circle"></i>
            <div data-i18n="Analytics">Guides</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/GuideMediatR/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-help-circle"></i>
            <div data-i18n="Analytics">Guides - MediatR</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Excel/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Excel Reports</div>
        </a>
    </li>

@*    <li class="menu-item">
        <a href="/Admin/PdfReport/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Pdf Reports</div>
        </a>
    </li>*@

    <li class="menu-item">
        <a href="/Admin/Mail/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-ghost"></i>
            <div data-i18n="Analytics">Send Mail</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-thermometer"></i>
            <div data-i18n="Analytics">Role Settings</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Role/UserList/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-thermometer"></i>
            <div data-i18n="Analytics">User List</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
            <div data-i18n="Analytics">Announcements</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/ApiExchange/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Exchange Rates</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/MovieApi/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Movie Api</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/City/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
            <div data-i18n="Analytics">City - Ajax</div>
        </a>
    </li>


@*    <li class="menu-item">
        <a href="/Admin/Account/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Money Transfer</div>
        </a>
    </li>*@

    <li class="menu-item d-flex justify-content-center">
        <div class="container bg-light">
            <div class="col-md-12 text-center">
                <form method="post" class="form-inline" asp-action="Logout" asp-controller="Login">
                    <button type="submit" class="btn btn-dark">Log Out</button>
                </form>
            </div>
        </div>
    </li>

</ul>