
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Pdf Reports</h2>
<a href="@Url.Action("StaticPdfReport","PdfReport")" class="btn btn-outline-primary">Static Pdf Report</a>
<br />
<br />
<a href="@Url.Action("StaticCustomerReport","PdfReport")" class="btn btn-outline-warning">Static Guest Report</a>

